h1.title{
    text-align: center;
    color: rgb(136, 33, 33);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.p1{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.p2{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.p3{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.p4{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}